<?xml version="1.0" ?>
<config>
	<modules>
		<Rabee3_StoreLocator>
			<version>0.2.0</version>
		</Rabee3_StoreLocator>
	</modules>
	<global>
		<models>
			<storelocator>
				<class>Rabee3_StoreLocator_Model</class>
				<resourceModel>storelocator_mysql4</resourceModel>
			</storelocator>
            <storelocator_mysql4>
                <class>Rabee3_StoreLocator_Model_Mysql4</class>
                <entities>
                    <locations>
                        <table>storelocator_locations</table>
                    </locations>
                </entities>
            </storelocator_mysql4>
		</models>
        <resources>
            <storelocator_setup>
                <setup>
                    <module>Rabee3_StoreLocator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelocator_setup>
            <storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocator_write>
            <storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocator_read>
        </resources>
		<blocks>
			<storelocator>
				<class>Rabee3_StoreLocator_Block</class>
			</storelocator>
		</blocks>
		<helpers>
			<storelocator>
				<class>Rabee3_StoreLocator_Helper</class>
			</storelocator>
		</helpers>
	</global>
	<frontend>
        <layout>
            <updates>
                <storelocator>
                    <file>storelocator/main.xml</file>
                </storelocator>
            </updates>
        </layout>
        <routers>
            <storelocator>
                <use>standard</use>
                <args>
                    <module>Rabee3_StoreLocator</module>
                    <frontName>store-locator</frontName>
                </args>
            </storelocator>
        </routers>
	</frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <!-- This is how we load our Adminhtml controllers -->
                    <modules>
                        <storelocator before="Mage_Adminhtml">Rabee3_StoreLocator_Adminhtml</storelocator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <storelocator>
                    <file>storelocator/main.xml</file>
                </storelocator>
            </updates>
        </layout>
    </adminhtml>
</config>